html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #e2e2e2;
  justify-content: space-between;
  margin: .5rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  width: 33.333%;
  align-items: center;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

img {
  width: 2rem;
  order: -1;
}

nav a {
  color: #0074d9;
}

a:hover {
  color: #fff;
}
