html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #e2e2e2;
  justify-content: space-between;
  margin: .5rem;
  padding:.75em 1em .6em;
  align-items: stretch;
}

nav ul {
  width: 33.333%;
  align-items: stretch;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

img {
  sizing:1.5;
  width: 2rem;
}

nav:first-child {


}

nav:nth-child {
color: #0074d9

}

nav:last-child {
color: #0074d9

}
