html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #e2e2e2;
  justify-content: space-between;
  margins: .5rem;
  padding: 1rem, .75em 1em .6em;
}

header {
  align-items: stretch;
}

nav:first-child {


}

nav:nth-child(2) {
color: #0074d9

}

nav:last-child {
color: #0074d9

}
